body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: green;
    height: 100vh;
    margin: 0;
}

h1 {
    color: goldenrod;
}

p {
    color: white;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

button {
    color: green;
    background-color: goldenrod;
    font-weight: bold;
    width: 150px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    margin: 10px 0; /* This adds vertical spacing between buttons */
}
