body {
    font-family: Poppins, sans-serif;
    background-color: #ffffff;
    color: #333333;
    margin: 0;
    padding: 0;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-toggler span {
    display: block;
    background-color: #007ced;
    margin: 5px 0;
    width: 100%;
    height: 3px;
    transition: 0.3s;
}

.navbar-nav .nav-item .nav-link {
    color: #333333;
    margin-right: 15px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #007ced;
}

.logo {
    display: flex;
    align-items: center;
}

.logo i {
    font-size: 2rem;
    color: #007ced;
    margin-right: 10px;
}

.logo .logo-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333333;
}

.container {
    padding-top: 80px;
}

.card {
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
    text-align: center;
}

.btn-primary {
    background-color: #007ced;
    border: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}
